body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #0B1D26;
    color: white;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;

}

.preview {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.previewLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.previewImage {
    background-image: url(media/background.png);
    background-size: cover;
    z-index: 1;
    transform: translateZ(-100px) scale(2);
}

header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 64px 80px;
    height: 25px;
    align-items: center;
}

nav {
    display: flex;
}

.navItem {
    cursor: pointer;
}

.navItem:not(:last-child) {
    margin-right: 40px;
}

.accountWrapper {
    display: flex;
    align-items: center;
}

.accountTitle {
    padding-left: 8px;
}

.titleWrapper {
    z-index: 3;
    top: 30%;
    left: 20%;
    max-width: 950px;
}

.title {
    display: flex;
    align-items: center;
}

.line {
    height: 2px;
    width: 72px;
    background: #FBD784;
}

.titleText {
    font-size: 18px;
    color: #FBD784;
    padding-left: 32px;
    text-transform: uppercase;
}

.titleDescription {
    font-size: 88px;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
}

.section:not(:last-child) {
    margin-bottom: 200px;
}

.sectionInfo {
    position: relative;
    max-width: 632px;
    padding-left: 200px;
    padding-right: 50px;
}

.sectionCount {
    position: absolute;
    top: -115px;
    bottom: 61.39%;
    font-weight: 700;
    font-size: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    left: 100px;
}

.sectionHeader {
    display: flex;
    align-items: center;
}

.sectionTitle {
    font-size: 18px;
    text-transform: uppercase;
    color: #FBD784;
    padding-left: 24px;
}

.sectionInfoTitle {
    font-size: 64px;
    padding-top: 27px;
    font-weight: 600;
}

main {
 padding: 250px 150px;
}

.sectionInfoText {
    font-size: 18px;
    padding-top: 27px;
}

.sectionImage1 {
    padding-right: 80px;
    padding-left: 170px;
    max-width: 566px;
    max-height: 720px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sectionImage2 {
    padding-right: 80px;
    padding-left: 170px;
    max-width: 566px;
    max-height: 720px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sectionImage3 {
    padding-right: 80px;
    padding-left: 170px;
    max-width: 566px;
    max-height: 720px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

footer {
    height: 280px;
    background-color: #0B1D26;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footerPart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.infoFooter {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}

.titleFooter {
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}


